#navbar
{
    background-color: rgb(106,90,205);
}
body
{
    margin: 0%;
}
#navbar a
{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 4px;
    transition: all 0.4s ease;

}
#navbar a:hover
{
    background-color: white;
    color: green;
    
}
h1{
    color: black;
    text-align: center;
}
#about{
    color: black;
    text-align: center;
}
#navbar{
    border-style: solid;
    font-family: Source Sans Pro, sans-serif;
}